$bg: #282A2E;
$bg-2: #2F3237;
$bg-alt: #373B41;
/*$fg: #B9D2C6;*/
$fg: #cccccc;
$black: #282A2E;
$lightblack: #262831;
$red: #f7768e;
$blue: #7aa2f7;
$cyan: #7dcfff;
$magenta: #bb9af7;
$green: #9ece6a;
$yellow: #e0af68;
$archicon: #0f94d2;
$disabled: #707880;
