.current_notif_box {
	padding: .5em .5em .5em .5em;
	margin: .5em .5em .5em .5em;
	
	.notif_box {
	  border-radius: $crounding;
	  margin: .5em .5em .5em .5em;
      padding: 1em 0 1em 1em;
	  background-color: $bg-alt;

    .notif_image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 55px;
      min-width: 55px;
      border-radius: 9px;
      margin: .5em .5em .5em;
    }

    .notif_sum {
      font-size: 1.5em;
      margin-left: .3em;
      font-weight: 600;
      margin-top: .8em;
      color: $fg;
    }

    .notif_body {
      font-size: 1.4em;
      margin-left: .3em;
      margin-top: .2em;
      margin-bottom: .8em;
      color: $accent;
    }

    .notif_time {
      margin-right: .8em;
      font-size: 1em;
      margin-top: .8em;
      color: $disab;
      font-weight: 600;
    }
    
    .notif_box_clear {
      font-size: 1.4em;
      margin-top: .5em;
      margin-right: 1.5em;
      color: $fg;
    }

    .notif_box_clear:hover {
      color: $red;
    }
    
    .notif_buttons {
		margin-right: .7em;
		button {
			padding: .5em;
			background-color: $bg-alt-three;
			color: $fg;
			border-radius: $crounding;
			font-size: 1em;
		}
		
		button:hover {
			background-color: $bg-alt-four;
		}
	}
  }
}
